@media screen and (max-width: 500px){
  body main{
    background-image: url(../images/image-web-3-mobile.jpg);
  }
}
@media screen and (max-width: 1130px) {
  body {
    padding-block-start: 28px;
    padding-block-end: 80px;
    padding-inline: 16px;
    grid-template-columns: 1fr;
    column-gap: 0;
    grid-template-rows: 28px 32px 1189px 64px 454px;
    grid-template-areas:
      "header"
      "."
      "main"
      "."
      "footer";
    overflow-x: hidden;
    header,
    main,
    footer {
      max-width:  100%;
    }
    header {
      img {
        width: 45px;
        height: 28px;
      }
      ul {
        display: none;
      }
      .menu {
        display: inline-block;
        width: 40px;
        height: 17px;
      }
    }
    main {
      background-size: 100% 300px;
      grid-template-columns: 1fr;
      grid-template-rows: 324px 120px 16px 104px 24px 48px 64px 489px;
      grid-template-areas:
        "."
        "h1"
        "."
        "p"
        "."
        "a"
        "."
        "side";
      h1 {
        font-size: 40px;
        line-height: 40px;
      }
      a {
        width: calc(50% + 14px);
      }
      aside {
        padding-block: 24px;
        padding-inline: 20px;
        h2 {
          font-size: 32px;
          line-height: 32px;
          margin-block-end: calc(2rem + 3px);
        }
      }
    }
    footer {
      grid-template-columns: 1fr;
      row-gap: 32px;
    }
  }
}
